# Client assets
**/*.qrc
**/*.ui
**/*.png
**/*.ico

# Server
**/sql/

# Generated contents
**/__pycache__/
**/TestResult.json
**/User Profile/

# Built contents
**/*.build/
**/*.dist/

# Others
**/.vscode/
**/*.spec
**/*.ipynb
*.txt